/* Global Styles */
body {
    font-family: "Arial", sans-serif;
    margin: 10px;
    padding: 10px;
}

.main__container {
    align-content: center;
    align-self: center;
    max-width: 60%;
    margin: 0 auto;
}

.main__table {
    border: none;
    border-collapse: collapse;
    font-family: "Arial", sans-serif;
    width: 100%;
}

.main__table th {
    background-color: #04AA6D;
    border: 1px solid #ddd;
    color: white;
    font-style: normal;
    font-size: larger;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
}

.main__table th:hover {
    background-color: #04784f
}

.main__table th:first-of-type {
    border-top-left-radius: 10px;
}
.main__table th:last-of-type {
    border-top-right-radius: 10px;
}
.main__table tr:last-of-type .main__table td:first-of-type {
    border-bottom-left-radius: 10px;
}
.main__table tr:last-of-type .main__table td:last-of-type {
    border-bottom-right-radius: 10px;
}

.main__table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.main__table tr:nth-child(even){
    background-color: #f2f2f2;
}

.main__table tr:hover {
    background-color: #ddd;
}

